@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
  font-family: Raleway;
}
body {
  background: linear-gradient(0deg, rgba(63, 63, 62, 0.6), rgba(54, 54, 53, 0.4)), url("../public/img/img2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  background-color: rgb(32, 31, 31);
  
}